@model Store.Logic.ShoppingCart

@{ 
    string returnUrl = Request.Url.PathAndQuery;
}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a class="cart-link" href="/ShoppingCart?returnUrl=@returnUrl"><span>Cart <i class="glyphicon glyphicon-shopping-cart"></i></span> <span class="badge badge-success" > @Model.Items.Sum(x => x.Quantity)</span> <span class="badge">₦ @Model.CalculateTotalAmount().ToString("N")</span></a>
   
        
        
    </li>

    
</ul>
